aniso8601==8.0.0
certifi==2019.11.28
chardet==3.0.4
Click==7.0
configobj==5.0.6
configparser==4.0.2
decorator==4.4.1
dnspython==1.16.0
etelemetry==0.1.2
filelock==3.0.12
fitz==0.0.1.dev2
Flask==1.1.1
Flask-RESTful==0.3.7
Flask-WTF==0.14.2
httplib2==0.17.0
idna==2.8
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.11.1
lxml==4.6.5
MarkupSafe==1.1.1
networkx==2.4
neurdflib==5.0.1
nibabel==3.0.1
nipype==1.4.1
numpy==1.18.1
packaging==20.1
pandas==1.0.1
pdf==2020.1.6
Pillow==7.0.0
prov==1.5.3
psycopg2==2.8.4
pydot==1.4.1
pydotplus==2.0.2
pymongo==3.10.1
pyparsing==2.4.6
pyPdf==1.13
PyPDF2==1.26.0
python-dateutil==2.8.1
python-dotenv==0.10.5
pytz==2019.3
pyxnat==1.2.1.0.post3
rdflib==4.2.2
reportlab==3.5.34
requests==2.22.0
scipy==1.4.1
signpdf==0.0.3
simplejson==3.17.0
six==1.14.0
traits==5.2.0
urllib3==1.25.8
Werkzeug==0.16.1
WTForms==2.2.1
