<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div style="float:right">
	<button onclick="window.location='{{url_for('dropsession')}}' " type="submit"> LogOut </button></div>
<h1> Which Page do you want to Sign?" </h1>
<br><br>
   <div class="container" align="left">
		<!-- <a href="/return" target="blank"><button class='btn btn-default'>View Here</button></a> -->
		<a href="/sign_one_page">
		<button> Sign First Page and Download </button>
		</a>
		<br>
		<a href="/sign_all">
		<button> Sign All Page and Download </button>
		</a>

<!-- <button onclick="gen_pdf_from_sign()"> Sign First Page and Download </button> -->


</body>
</html>